@*
    ViewData["Title"] = "Home Page";
*@

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>FUEN 全端班</p>
    <p><a href="https://learn.microsoft.com/aspnet/core">全端班專題發表</a></p>
</div>

@section Scripts
{
    <script src="~/js/site.js" asp-append-version="true"></script>
}