@section Styles {
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
}

FUEN 全端首頁

<a asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-house-chimney"></i>首頁</a>